@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root{
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--Dark-cyan: hsl(158, 36%, 37%);
--Dark-green: hsl(158, 85%, 10%);
--Cream: hsl(30, 38%, 92%);
}
*, *::before, *::after {
    box-sizing: border-box;
  }
*{
    margin: 0;
    padding: 0;
  
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;}

    body {
        background-color: var(--Cream);
        display: grid;
        place-items: center;
        min-height:100vh;
        margin:0;
        
      }
      
      .container {
        display: grid;
        background-color: var(--White);
        border-radius: 0.5rem;
        overflow: hidden;
        max-width: 600px;
        
      }
      .info{
        column-gap: 15px;
        margin: 18px;
      }
      b{
        font-size: 0.8em;
        letter-spacing: 4px;
        color: gray;
        font-family: 'Montserrat';
        font-weight: 100;
      }
      h1{
        font-size: 2rem;
        font-family: 'Fraunces';
      }
      p{
        color: gray;
        font-size: 1em;
        font-family: 'Montserrat';
        font-weight: 100;
      }
      
      .price {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
      }
      .price2{
        text-decoration: line-through;
        color: gray;
      }
     
      .btn {
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--Dark-cyan);
        color: var(--White);
        font-weight: 700;
        font-size: 1em;
      }
      .btn:hover {
        background-color: var(--Dark-green);
      }
      
      .info {
        display: grid;
        gap: 10px;
        padding: 10px;
      }
      .price1 {
        font-size: 2rem;
        font-family: 'Fraunces';
        color: var(--Dark-cyan);
      }
      @media (min-width: 600px) {
        .container {
         
          grid-template-columns: 1fr 1fr;
        }
      
      }

